.profileDetailSection{
    background-color: white;
    padding:50px 250px 50px 20px;
}

.profileDetailSection > hr{
    margin-top:40px;
}

.profileImg > img{
    box-shadow: none;
    border-radius: 40%;
    min-width:180px;
    max-width: 250px;
    height:auto;
}
.personalInfoSection{
    display: flex;
    justify-content: space-between;
    width:70%;
}
.generalInfo{
    max-width:100%;
    margin:5% 0 0 2%;
}
.generalInfo div hr{
    width:100%;
}
.generalInfo div h4{
    font-family: 'Roboto', sans-serif;
    text-align: left !important;
    margin:7px 0;
    font-size:15px;
}
.generalInfo div h4  span{
    margin-right:50px;
    font-weight: bold;
    font-size: 20px;
}
.generalInfo div input{
    box-shadow: none;
    border-radius: 0;
    
    background-color: white;
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.generalInfo div input:focus{
    outline: none;
}
/*--------- Address section ------------*/
.addressSection{
    margin-top:40px;
}
.addressSection > div > h2{
    text-align: left;
    margin-top:20px;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}
.addressHeader > h1{
    text-align: left;
    margin-bottom:30px;
}

.firstAddress,#inputAddress{
    background-color: rgb(238, 229, 229);
    margin-top:20px;
    padding:10px 30px 30px 30px;      
    line-height: 25px;
}
.firstAddress{
    left:0;
}
.firstAddress h2{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    text-align: left;
}

#inputAddress{
    display: flex;
    flex-direction: column;
}
#inputAddress input{
    margin-top:10px;
    box-shadow: none;
    border-radius: 0;
    
    background-color: rgb(238, 229, 229);
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#inputAddress input:focus{
    outline: none;
}

/*----------- Payment-section -----------*/
.PaymentSection{
    margin-top:30px;
}
.PaymentSection > div> h2{
    text-align: left;
}
.PaymentSection > div> h3{
    text-align: left;
    margin-top:20px;
}
.PaymentSection > div > h3 > span{
    margin-left:30px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}
.PaymentSection > div > h3 > input{
    margin-left:20px;
    box-shadow: none;
    border-radius: 0;
    
    background-color: white;
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.PaymentSection > div > h3 > input:focus{
    outline: none;
}

/*-------------- Update button -----------*/
.updateBtn{
    display: flex;
}
.updateBtn > button{
    border:none;
    font-size: 20px;
    border-radius: 0;
    width:150px;height:40px;
    background-color: #0e4135;

    color:#FBD3DE;
    
    margin:70px 0 50px 0;
}
.updateBtn > button:hover{
    color:yellow;
    cursor: pointer;
}

/*------------- Media query under 1000 -----------*/

@media screen and (max-width: 1000px){
    .profileDetailSection{
        padding-right:50px;
    }
}

/*------------- Media query under 800 -----------*/

@media screen and (max-width:800px){
    .personalInfoSection{
        flex-direction: column;
    }
    .profileImg > img{
        width:80%;
        margin-bottom: 20px;
    }
    .generalInfo{
        display: flex;
        flex-direction: column;
        margin-left:0;
    }
}