.profile-detail-section{
    background-color: white;
    padding:50px 300px 50px 20px;
}

.profile-detail-section > hr{
    margin-top:40px;
}

.profile-img > img{
    box-shadow: none;
    border-radius: 40%;
    width:250px;
    height:200px;
}
.personal-info-section{
    display: flex;
}
.general-info{
    width:100%;
    margin:auto 0px auto 30px;
}
.general-info > hr{
    width:100%;
}
.general-info > h4{
    font-family: 'Roboto', sans-serif;
    text-align: left !important;
    margin:7px 0;
    font-size:15px;
}
.general-info > h4 > span{
    margin-right:50px;
    font-weight: bold;
    font-size: 20px;
}
.general-info input{
    box-shadow: none;
    border-radius: 0;
    
    background-color: white;
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.general-info input:focus{
    outline: none;
}
/*--------- Address section ------------*/
.address-section{
    margin-top:40px;
}
.address-section > div > h2{
    text-align: left;
    margin-top:20px;
    font-size:18px;
    font-family: 'Roboto', sans-serif;
}
.address-header > h1{
    text-align: left;
    margin-bottom:30px;
}

.first-address,#input-address{
    background-color: rgb(238, 229, 229);
    margin-top:20px;
    padding:10px 30px 30px 30px;      
    line-height: 25px;
}
.first-address > h2{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    text-align: left;
}

#input-address{
    display: flex;
    flex-direction: column;
}
#input-address input{
    margin-top:10px;
    box-shadow: none;
    border-radius: 0;
    
    background-color: rgb(238, 229, 229);
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#input-address input:focus{
    outline: none;
}

/*----------- Payment-section -----------*/
.Payment-section{
    margin-top:30px;
}
.Payment-section > div> h2{
    text-align: left;
}
.Payment-section > div> h3{
    text-align: left;
    margin-top:20px;
}
.Payment-section > div > h3 > span{
    margin-left:30px;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}
.Payment-section > div > h3 > input{
    margin-left:20px;
    box-shadow: none;
    border-radius: 0;
    
    background-color: white;
    border-bottom:2px solid black;
    padding:0;
    
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.Payment-section > div > h3 > input:focus{
    outline: none;
}

/*-------------- Update button -----------*/
.update-btn{
    display: flex;
}
.update-btn > button{
    border:none;
    font-size: 20px;
    border-radius: 0;
    width:150px;height:40px;
    background-color: #33d35b;
    
    margin:70px 0 50px 0;
}
.update-btn > button:hover{
    color:yellow;
    cursor: pointer;
}