.ProductCard{
    width:200px;
    height:300px;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(249, 244, 244);
    padding:10px;
    border-radius: 10px;
    position:relative;
    opacity: 0.9;
}

.product-img-div img{
    width:80%;
    height:90%;
}
.product-img-div img:hover{
    cursor: pointer;
}

.ProductCard:hover{
    box-shadow:5px 5px 10px 2px rgb(0,0,0,0.5);
    transform:scale(1.15);
}
.ProductCard:hover > .product-namePrice-div{
    opacity: 0.6;
}
.ProductCard:hover > .product-img-div{
    transform:scale(1.12);
}
.product-namePrice-div{
    position:absolute;
    bottom:20px;
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
}