.products_card{
    display: flex;
    justify-content: space-between;

    box-shadow:3px 3px 6px 1px rgb(0,0,0,0.5);
    margin:30px 50px 0 30px;
}
/*------- History Product card ---------*/
.history_product_card{
    display: flex;
    justify-content: space-around;

    padding:20px;
}

/*---------- Image section -----------*/

.history_product_card img{
    width:150px;height:150px;

    box-shadow: none;
}

/*----------- Description section ----------*/

.history_img_description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-left:40px;
}
.product_date{
    display: flex;
}
.product_date h4{
    color:rgb(71, 71, 210);
}
.product_date img{
    margin-right:10px;
    width:20px;height:20px;
}
.product_header h3{
    font-size:20px;
}
.product_header h4{
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}

/*------------ Button section ---------*/
.other_option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    padding:10px;
}

.show_detail_btn button{
    border:none;
    font-size: 15px;
    border-radius: 0;
    width:100px;height:40px;
    background-color: #33d35b;
}
.show_detail_btn button:hover{
    cursor: pointer;
    color:yellow
}
.del_btn{
    width:20px;height:20px;

}

.del_btn img{
    box-shadow: none;
    opacity: 0.5;
}
.del_btn img:hover{
    cursor: pointer;
    opacity: 1;
}

/*-----------------Description section --------*/

.detail_description{
    margin-left:50px;
}
.detail_description #Q,.detail_description #A{
    text-align: left;
}
.detail_description #Q{
    margin-left:20px;
    width:200px;
    font-size:15px;
}
.detail_description #A{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
