.products_card{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow:3px 3px 6px 1px rgb(0,0,0,0.5);
    margin:30px 50px 0 30px;

    padding:20px;
}

img{box-shadow: none;}

/*-------------- Image section -----------------*/
.mainImg{
    width:80%;max-height:auto;
    margin:0 auto;
}
/*--------------- Description section --------------*/

.history_product_description{
    margin-left: 40px;
}

/*----------------- First col ---------------*/


/*----------------- Second col ---------------*/

.history_img_description{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
}

.product_date img{
    width:20px;height:20px;
}

/*------------------ Other Options -------------*/

.other_option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height:100%;
}
.del_btn img{
    width:20px;height:20px;
    opacity: 0.8;
}

.show_detail_btn button{
    border:none;
    padding:10px;
    color:white;

    font-size: 15px;
    width:100%;height:100%; 
}

/*--------------- Media query -------------------*/

@media screen and (max-width:1000px){
    .products_card{
        display: flex;  
        flex-direction: column;
        gap:50px;
    }

    .history_img_description{
        height:150px;
        align-items: center;
    }
    .history_product_description{
        display: flex;
        justify-content: center;
        text-align: center;
        margin:0;
    }
    .other_option{
        width:100%;
        flex-direction: row;
        justify-content: space-between;
    }
}