/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif; */
body{
    background-color: #33d35b;
}

/*--------- Header-section --------*/
.header-section > h1{
    margin:40px 100px 0 100px;
    text-align: left !important;
    background-color: #33d35b;
    color:white;
}


/*--------- Profile-section----------*/
.profile-section{
    height:fit-content;
    margin:30px 100px 0 100px;

    box-shadow: -3px -2px 10px rgb(77, 72, 72,0.5);

    display: grid;
    grid-template-columns: 15% 85%;

    position: relative;
}

/*--------------- Edit Button --------------*/

.edit-btn{
    position: absolute;
    right:10px;
    top:10px;
}
.edit-btn span{
    display: none;
    position:absolute;
    left:10px;
    background-color: rgb(212, 206, 206);
}
.edit-btn:hover span{
    display: block;
}
.edit-btn:hover{
    cursor: pointer;
}
.edit-btn > img{
    box-shadow: none;
    width:30px;height:30px;
}

/*------------- Menu section ----------*/
.profile-section > .profile-menu-section{
    background-color: #33d35b;

    display: flex;
    flex-direction: column;
}
.profile-menu-section > div{
    display:flex;
    padding:15px;
    width:100%;
}
.profile-menu-section > div > h4{
    color:rgb(245, 239, 239);
    font-family: 'Signika Negative', sans-serif;
}
.profile-menu-section > div:hover{
    box-shadow: -3px -2px 10px rgb(77, 72, 72,0.5); ;
    cursor: pointer;
}
.profile-menu-section >div>img{
    box-shadow: none;
    max-height:20px;
    margin-right:10px;
}
.profile-menu-section > .choosen{
    box-shadow: -3px -2px 10px rgb(77, 72, 72,0.5); ;
}
.profile-menu-section > .choosen >h4{
    color:yellow;
    margin-left:10px;
}

/* --------- Profile info section ------- */
